.hash-link::before {
    content: '# ';
}


.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

@keyframes glow-animation {
  0% {
    text-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700, 0 0 15px #FFD700, 0 0 20px #FFD700;
  }
  50% {
    text-shadow: 0 0 10px #FFD700, 0 0 15px #FFD700, 0 0 20px #FFD700, 0 0 25px #FFD700, 0 0 30px #FFD700;
  }
  100% {
    text-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700, 0 0 15px #FFD700, 0 0 20px #FFD700;
  }
}

.glow {
  animation: glow-animation 2s infinite alternate;
}

@keyframes traceBorder {
  0%, 100% {
    box-shadow: 0 0 1px #21fc0d;
  }
  12.5% {
    box-shadow: 0 -1px 1px #21fc0d;
  }
  25% {
    box-shadow: 1px -1px 1px #21fc0d;
  }
  37.5% {
    box-shadow: 1px 0 1px #21fc0d;
  }
  50% {
    box-shadow: 1px 1px 1px #21fc0d;
  }
  62.5% {
    box-shadow: 0 1px 1px #21fc0d;
  }
  75% {
    box-shadow: -1px 1px 1px #21fc0d;
  }
  87.5% {
    box-shadow: -1px 0 1px #21fc0d;
  }
}

.tracer-glow {
  position: relative;
  animation: traceBorder 3s infinite linear;
}

.sparkle {
  width: 10px;
  height: 10px;
  background-color: #FFD700;
  clip-path: polygon(50% 0%, 61.8% 35.4%, 98.1% 35.4%, 68.3% 57.3%, 79.9% 91.6%, 50% 70.9%, 20.1% 91.6%, 31.7% 57.3%, 1.9% 35.4%, 38.2% 35.4%);
  animation: sparkle-animation 2s infinite alternate;
}

@keyframes sparkle-animation {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1) rotate(45deg);
  }
}

